<domain type='kvm'>
  <name>{{inventory_hostname}}</name>
  <uuid>{{inventory_hostname | to_uuid}}</uuid>
  <memory unit='MiB'>{{virt_memory}}</memory>
  <currentMemory unit='MiB'>{{virt_current_memory}}</currentMemory>
  <vcpu placement='static'>{{virt_vcpu}}</vcpu>
  <os>
    <type arch='x86_64' machine='pc-i440fx-2.9'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <vmport state='off'/>
  </features>
{# Well it's hard to make it rught so i will just comment it out for "best" conf
  <cpu mode='custom' match='exact' check='partial'>
    <model fallback='allow'>Broadwell-noTSX</model>
  </cpu>
#}
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>{{virt_on_crash}}</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>/usr/bin/qemu-kvm</emulator>
    {% for disk in virt_disks %}
    <disk type='file' device='{{disk.device | default('disk')}}'>
      <driver name='qemu' type='{{disk.type}}'/>
      <source file='{{ansible_libvirt_pools[disk.pool]['path']}}/{{inventory_hostname_short}}-{{disk.name}}.{{disk.type}}'/>
      <target dev='{{disk.target}}' bus='{{disk.bus | default('ide')}}'/>
      {% if disk.readonly | default(false) or disk.device == "cdrom" %}
      <readonly/>
      {% endif %}
    </disk>
    {% endfor %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ansible_libvirt_pools[virt_cidata_iso_pool]['path']}}/{{inventory_hostname_short}}-cidata'/>
      <target dev='hdc' bus='ide'/>
      <readonly/>
    </disk>
    <controller type='pci' index='0' model='pci-root'/>
    <controller type='ide' index='0'/>
    <controller type='virtio-serial' index='0'/>
    <interface type='network'>
      <source network='{{virt_network}}'/>
      <model type='virtio'/>
    </interface>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
    </channel>
    <channel type='spicevmc'>
      <target type='virtio' name='com.redhat.spice.0'/>
    </channel>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <graphics type='spice' autoport='yes'>
      <listen type='address'/>
      <image compression='off'/>
    </graphics>
    <video>
      <model type='qxl' ram='65536' vram='65536' vgamem='16384' heads='1' primary='yes'/>
    </video>
    {% if virt_memory != virt_current_memory %}
    <memballoon model='virtio' autodeflate='on'/>
    {% endif %}
    {% if virt_rng %}
    <rng model='virtio'>
      <backend model='random'>{{virt_rng_device}}</backend>
    </rng>
    {% endif %}
    <panic model='isa'/>
  </devices>
</domain>
