#cloud-config
package_update: true
package_upgrade: true

timezone: {{timezone | default("UTC")}}
fqdn: {{inventory_hostname}}

users:
{{users | to_yaml}}

{# Doing it like this because password inside of users is not working for some reason #}
{% if users | selectattr('password', 'defined') | list | length > 0 %}
chpasswd:
  list: |
{% for user in users | selectattr('password', 'defined') | list %}
    {{user.name}}:{{user.password}}
{% endfor %}
  expire: False
{% endif %}

power_state:
 delay: now
 mode: {{virt_powerstate}}
 message: Cloud-Init (is) finised
 timeout: 600
 condition: True
